body{
	background-color:#ee3733;
	color:#000000;
	font:11px verdana,sans-serif;
	margin:10}
p,td{font:13px verdana,sans-serif}
a:link{color:#000099}
a:visited{color:#5377b6}
a:hover{color:#000000;text-decoration:bold}
/* odno�niki (lista rozwijalna) */
a.pp:link,a.pp:visited {color:#000000;font-weight:bold}
a.pp:hover{text-decoration:bold}
/* element na li�cie */
p.el{margin-top:0;margin-bottom:0.5em}
/* logo szko�y */
.logo{text-align:center;margin-bottom:10px}
